
<head>
{% load static %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(function() {drawBackgroundColor( {{ gviz_data|safe }}, {{ options|safe }} );} );
</script>

<script type="text/javascript" src="{% static 'my_google_charts.js' %}"></script> 

<link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css"> </link>
 
 

</head>


<h1>The chart</h1>

<div id="chart_div"></div>
Quel beau graph !

<img src="{% static 'images/hand-Writing.jpg' %}" alt=""  />
